#content_container {
    gap: 20px;
}

#album_overview {
    display: flex;
    margin-top: 1vh;
}

.album_cover {
    height: 12vh;
    width: 12vh;
    background-position: center;
    background-size: cover;
    border-radius: 20%;
    margin: 0 10px 0 0;
}

#album_details {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.review {
    border-radius: 20px;
    background-color: rgb(212, 212, 212);
    box-sizing: border-box;
    padding: 10px;
}

p {
    margin: 0;
}

#album_name {
    font-weight: bold;
}

.star {
    height: 18px;
    width: 18px;
}