* {
    margin: 0;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(153, 153, 153);
}

#timestamp {
    margin-top: 4vh;
}

#displayName {
    font-size: 2vh;
}

#albumName {
    font-size: 4vh;
    margin-top: 4vh;
}

#artist {
    font-size: 2.5vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

#bookmark {
    height: 3.5vh;
    width: 3.5vh;
    position: relative;
    bottom: -6.5vh;
    right: -27vw;
}

.albumCoverContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviewDescription {
    margin-top: 2vh;
}

#otherReviewsHead {
    font-size: 3vh;
    margin-top: 5vh;
}

#otherReviewsContainer {
    display: flex;
    flex-direction: column;
}

.stars {
    margin-top: 4vh;
}

.star {
    height: 4vh;
    width: 4vh;
}