.review,
nav * {
    cursor: pointer;
}

.stars {
    display: flex;
    margin: 0.5vh 0 0.5vh 0;
}

.star {
    background-position: center;
    background-size: cover;
    background-image: url(../media/icons/empty_star.png);
}

.bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.closed {
    display: none;
}

#albumCoverExpanded {
    height: 39vh;
    width: 39vh;
    border-radius: 5vh;
}

#closeReview {
    background-image: url(../media/icons/close_0.png);
    background-position: center;
    background-size: cover;
    height: 3vh;
    width: 3vh;
    position: absolute;
    right: 4.5vw;
}

.review {
    border-radius: 20px;
    background-color: rgb(212, 212, 212);
    box-sizing: border-box;
    padding: 10px;
}