body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 24, 24);

    overflow: hidden;
    /* Ta bort? verkar finnas en onödig scroll annars? */
}
/* General styling */
button{
    cursor: pointer;
    border: 1.5px solid black;
    border-radius: 10px;
    min-height: 6vw;
    min-width: 20vw;
}

body main #contentCOntainer #noResults{
    padding: 10px 0px;
}




.horizontalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.alignCenter{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contentContainer {
    font-size: 2vh;
    box-sizing: border-box;
    padding: 5vw;
    height: 100%;
    width: 90vw;
    background-color: rgb(68, 68, 68);
    border-radius: 20px;
    box-shadow: 0px 0px 11px 4px rgb(15, 15, 15);

    display: flex;
    flex-direction: column;
    position: relative;
    /* bottom: -1vh;*/ 
    overflow: scroll;
}

#profilePicture {
    border-radius: 50%;
    cursor: pointer;
}

main {
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: relative;
    color: white;
    height: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    /*    padding: 30px 40px 30px 40px;*/

}

.viewIcon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 0;
    min-width: 0;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);

}
button.viewIcon {
    border: none;
    transition: 0.2s;
}

#discoverIcon{
    background-image: url(/media/icons/home-svgrepo-com.svg);
}
#searchIcon{
    background-image: url(/media/icons/search-svgrepo-com.svg);
}
#addIcon{
    background-image: url(/media/icons/plus-svgrepo-com.svg);
}

button.viewIcon{
    filter: invert(43%) sepia(0%) saturate(3065%) hue-rotate(172deg) brightness(98%) contrast(67%);
}
button.viewIcon:hover{
    filter: invert(95%) sepia(0%) saturate(147%) hue-rotate(196deg) brightness(92%) contrast(95%);
}
#profilePicture{
    border: 1px solid rgb(29, 29, 29);
}

#logoutBtn {
    cursor: pointer;
}

#overlay {
    position: relative;
    border-radius: 20px;
    background-color: rgb(107, 107, 107);
    border: 2px solid rgb(188, 188, 188);
    height: 80%;
    width: 85%;
}

#overlay::backdrop {
    background-color: rgba(27, 27, 27, 0.608);
}

#overlayContentContainer {
    height: 85%;
}
/* Search field */
#searchFieldContainer{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 9vh;
    height: 0%;
    background-color: rgb(24, 24, 24);
}

#closeSearch{
    display: none;
    height: 4.5vw;
    width: 4.5vw;
    margin-right: 10px;
    cursor: pointer;
}
textarea {
    resize: none;
    width: 100%;
    padding: 0;
    border-radius: 10px;
    background-color: #5c5c8e;
    box-sizing: border-box;
    padding: 5px;

}

.createBox {
    height: 35vw;
    width: 35vw;
    background-color: gray;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 20px;
}

.createBox:hover {
    background-color: rgb(87, 87, 87);
}

.createBox:focus {
    background-color: rgb(87, 87, 87);
    outline: none;
}