body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: raleway;


    overflow: hidden;
    /* Ta bort? verkar finnas en onödig scroll annars? */
}

ul {
    scroll-behavior: smooth;
}

/* General styling */
button {
    cursor: pointer;
    border: 1.5px solid #00000057;
    border-radius: 10px;
    height: 6vw;
    width: 20vw;
}

body main #contentCOntainer #noResults {
    padding: 10px 0px;
}




.horizontalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.alignCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.alignCenter p {
    margin: 1vh 0 4vh 0;
}

#contentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: scroll;

    font-size: 2vh;
    box-sizing: border-box;
    padding: 5vw;
    height: 100%;
    width: 100vw;
    background-image: linear-gradient(#e6dada, #274046);
}

#profilePicture {
    border-radius: 50%;
    cursor: pointer;
}

main {
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: relative;
    color: white;
    background-color: black;
    height: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    /*    padding: 30px 40px 30px 40px;*/
    z-index: 2;
    background-color: #354b51;

}

.viewIcon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 0;
    min-width: 0;
    height: 6vh;
    width: 6vh;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: 0.2s;
}

#discoverIcon {
    background-image: url(/media/icons/home-svgrepo-com.svg);
}

#searchIcon {
    background-image: url(/media/icons/search-svgrepo-com.svg);
}

#addIcon {
    background-image: url(/media/icons/plus-svgrepo-com.svg);
}

button.iconHover {
    filter: invert(43%) sepia(0%) saturate(3065%) hue-rotate(172deg) brightness(98%) contrast(67%);
}

button.iconHover:hover {
    filter: invert(95%) sepia(0%) saturate(147%) hue-rotate(196deg) brightness(92%) contrast(95%);
}

#logoutBtn {
    cursor: pointer;
}

#overlay {
    position: relative;
    border-radius: 20px;
    background-color: rgb(107, 107, 107);
    border: 2px solid rgb(188, 188, 188);
    height: 80%;
    width: 85%;
}

#overlay::backdrop {
    background-color: rgba(27, 27, 27, 0.608);
}

#overlayContentContainer {
    height: 85%;
}

/* Search field */
#searchFieldContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 9vh;
    height: 0%;
    background-color: rgb(24, 24, 24);
}

#searchField {
    z-index: 2;
}

#closeSearch {
    display: none;
    height: 4.5vw;
    width: 4.5vw;
    margin-right: 10px;
    cursor: pointer;
}

textarea {
    resize: none;
    width: 100%;
    padding: 0;
    border-radius: 10px;
    background-color: #5c5c8e;
    box-sizing: border-box;
    padding: 5px;

}

.createBox {
    height: 35vw;
    width: 35vw;
    background-color: gray;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 20px;
}

.createBox:hover {
    background-color: rgb(87, 87, 87);
}

.createBox:focus {
    background-color: rgb(87, 87, 87);
    outline: none;
}

.hidden {
    display: none;

}

/* Loader */
.vinylloaderC {
    position: absolute;
    background-color: rgba(68, 68, 68, 0.364);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    z-index: 1;
}

.circleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 5px solid black;
    background-color: #262626;
    animation: spinVinyl 2s linear infinite;
    overflow: hidden;
}

.vinylShadow {
    position: absolute;
    height: 31vw;
    width: 31vw;
    border-radius: 50%;
    box-shadow: 6px 5px #756a6a2b;
}

.circleContainer div {
    position: absolute;
    border-radius: 50%;
}

.innerCircle1 {
    height: 5%;
    width: 5%;
    background-color: aliceblue;
    z-index: 20;

}

.innerCircle2 {
    height: 6%;
    width: 6%;
    background-color: #7d7f81;
    z-index: 19;

}

.albumCircle {
    height: 20%;
    width: 20%;
    background-color: #1f65ab;
    z-index: 18;
    border: 4px solid #131313;
}

.etchCircle {
    background-color: #00000000;
    border: 1px solid #515151;
}

.etchCircle1 {
    height: 25%;
    width: 25%;
    z-index: 19;
    border: 1px solid #3e3e3e;
}

.etchCircle2 {
    height: 35%;
    width: 35%;
    z-index: 19;
}

.etchCircle3 {
    height: 45%;
    width: 45%;
    z-index: 19;
}

.etchCircle4 {
    height: 65%;
    width: 65%;
    z-index: 19;
}

.etchCircle5 {
    height: 85%;
    width: 85%;
    z-index: 19;
}

.vinylReflection {
    border-radius: 0;
    height: 5px;
    width: 150%;
    background-color: #DFDFDF1F;
    z-index: 20;
    box-shadow: 0px 0px 30px #f9f9f9;

}

@keyframes spinVinyl {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}