#profile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
    box-sizing: border-box;
    padding-bottom: 0;
}

#profile_picture_top {
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    border: 1px solid black;
}

#bookmark_icon,
#settings_icon,
#add_board_icon {
    background-position: center;
    background-size: cover;
    height: 8vw;
    width: 8vw;
}

#bookmark_icon {
    background-image: url(/media/icons/bookmark.png);
}

#settings_icon {
    background-image: url(/media/icons/settings.png);
}

#add_board_icon {
    background-image: url(/media/icons/Add.png);
}

#profile_icons {
    display: flex;
    margin-top: 5vh;
    gap: 3vw;
    justify-content: right;
}

#following_followers {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    column-gap: 1vh;
    font-size: 16px;
}

#following_followers div:nth-last-child(3) {
    Grid-column: 1;
    Grid-row: 2;
}

#profile_picture img {
    height: 30vw;
    width: 30vw;
}

#profile_header p {
    margin-top: 0;
    text-align: center;
}


#board_of_boards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

#board_and_review_container p {
    cursor: pointer;
}

#board_and_review_container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.profile_board img {
    height: 30vw;
    width: 30vw;
    border-radius: 5%;
}

#album_overview {
    display: flex;
    margin-top: 10px;
}

.album_cover {
    height: 12vh;
    width: 12vh;
    background-position: center;
    background-size: cover;
    border-radius: 20%;
    margin: 0 10px 0 0;
}

#album_details {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.review {
    border-radius: 20px;
    height: 20vh;
    width: 100%;
    background-color: rgb(212, 212, 212);
    box-sizing: border-box;
    padding: 10px;
}

p {
    margin: 0;
}

.stars {
    display: flex;
}

.star {
    background-position: center;
    background-size: cover;
    background-image: url(../media/icons/empty_star.png);
    height: 18px;
    width: 18px;
}

#add_review {
    border-radius: 20px;
    height: 5vh;
    width: 100%;
    background-color: rgb(212, 212, 212);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

#favourites_icon {
    background-position: center;
    background-size: cover;
    height: 11vw;
    width: 11vw;
    padding-bottom: 1vh;
}

.favourite_cover {
    height: 8vh;
    width: 8vh;
    background-position: center;
    background-size: cover;
    border-radius: 20%;
}

#favourites_icon_container {
    display: flex;
    justify-content: center;
}

#favourite_info_container {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.favourite {
    display: flex;
    border-radius: 20px;
    width: 100%;
    background-color: rgb(212, 212, 212);
    box-sizing: border-box;
    padding: 10px;
}

#favourites {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.favourite_album_name {
    font-size: 4vw;
    font-weight: bold;
}