#profile_header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
    box-sizing: border-box;
}

#profile_picture_top {
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 20vh;
}

#bookmark_icon,
#settings_icon,
#add_board_icon {
    background-position: center;
    background-size: cover;
    height: 8vw;
    width: 8vw;
}

#bookmark_icon {
    background-image: url(/media/icons/Discover.png);
}

#settings_icon {
    background-image: url(/media/icons/close_1.png);
}

#add_board_icon {
    background-image: url(/media/icons/Add.png);
}

#profile_icons {
    display: flex;
    margin-top: 10vh;
    gap: 3vw;
    justify-content: right;
}

#following_followers {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    padding-top: 20vh;
    column-gap: 1vh;
    font-size: 16px;
}

#following_followers div:nth-last-child(3) {
    Grid-column: 1;
    Grid-row: 2;
}

#profile_picture img {
    height: 30vw;
    width: 30vw;
}

#profile_header p {
    margin-top: 0;
    text-align: center;
}


#boards h2 {
    padding-top: 15vh;
}

#board_of_boards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

#boards p {
    cursor: pointer;
}

.profile_board img {
    height: 30vw;
    width: 30vw;
    border-radius: 5%;
}