*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: grey;
    display: flex;
    align-items: flex-end;
    background-image: url(/media/register_bg.png);
    background-position: center;
    background-size: cover;
}

#limitWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logoBanner{
}


#loginAndRegisterPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    max-width: 400px;
    max-height: 620px;
    height: 100%;
    width: 100%;
}
#loginMessageContainer{
    display: flex;
    justify-content: center;
    height: 250px;
}
#loginMessageContainer #loginRegisterSign{
    font-size: 32px;
    width: 100px;
    text-align: center;
}
#loginAndRegisterFormContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

#loginAndRegisterForm{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 220px;
    z-index: 0;
    bottom: -75px;
}
#loginAndRegisterForm input{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: rgb(216, 210, 210);
    color: rgb(83, 83, 83);
    border: 2px solid black;
    margin-bottom: 25px;
}
#loginAndRegisterForm input:focus{
    outline: none;
}
#loginRegisterSwitch{
    height: 100px;
    text-align: center;
}
#loginRegisterSwitch button{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 5px;
}
#loginRegisterSwitch #switchBtn{
    color: rgb(120, 172, 189);
    cursor: pointer;
}
#loginRegisterSwitch #switchBtn:hover{
    color: rgb(97, 130, 141);
}


/* Desktop */
@media only screen and (min-width: 600px) {
    #mainContainer {
        justify-content:left;
    }
    #limitWrapper{
        min-width: 480px;
    }
 
  }

  /* Mobile */
@media only screen and (max-width: 600px) {
    #mainContainer {
        justify-content:center;
    }
    #limitWrapper{
        height: 100%;
        width: 100%;
    }

  }