* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    background-image: url(/media/register_bg.png);
    background-position: center;
    background-size: cover;
}

#limitWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.525);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#loginAndRegisterPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    z-index: 2;
    max-width: 400px;
    max-height: 620px;
    height: 100%;
    width: 100%;
}

#loginMessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

#loginMessageContainer #loginRegisterSign {
    font-size: 32px;
    text-align: center;
    color: rgb(202, 202, 202);
}
#loginMessageContainer #loginRegistermessage {
    opacity: 0%;
    color: rgb(202, 202, 202);
    text-align: center;
}


#loginAndRegisterFormContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

#loginAndRegisterForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 220px;
    z-index: 0;
    bottom: -75px;
}

#loginAndRegisterForm input {
    height: 7vh;
    width: 100%;
    border-radius: 3.5vh;
    padding: 5px 15px;
    background-color: rgb(207, 207, 207);
    color: rgba(83, 83, 83, 0.9);
    border: none;
    margin-bottom: 25px;
}

#loginAndRegisterForm input:focus {
    outline: none;
    box-shadow: 0px 0px 15px 0px rgba(170, 170, 170, 0.75);
}

#loginRegisterSwitch {
    height: 100px;
    text-align: center;
}

#loginRegisterSwitch button {
    height: 7vh;
    width: 100%;
    border-radius: 3.5vh;
    background-color: rgb(237, 237, 237, 0.9);
    cursor: pointer;
    margin-bottom: 3vh;
    border: none;
    color: grey;
}

#loginRegisterSwitch button:hover {
    background-color: rgb(196, 196, 196);
    box-shadow: 0px 0px 15px 0px rgba(170, 170, 170, 0.75);
}

#loginRegisterSwitch #switchBtn {
    color: rgb(158, 158, 158);
    cursor: pointer;
}

#loginRegisterSwitch #switchBtn:hover {
    color: rgb(119, 119, 119);
}



/* Desktop */
@media only screen and (min-width: 600px) {
    #mainContainer {
        justify-content: left;
    }

    #limitWrapper {
        min-width: 480px;
    }

}

/* Mobile */
@media only screen and (max-width: 600px) {
    #mainContainer {
        justify-content: center;
    }

    #limitWrapper {
        height: 100%;
        width: 100%;
    }

}