#searchWindow {
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}

/* Search filed Section */

#searchWindow #searchContainer {
    position: relative;
    display: flex;
    align-items: center;
}

#searchWindow #searchField {
    width: 100%;
    height: 10vw;
    border-radius: 10px;
    padding: 0px 5px;
    border: none;
    box-sizing: border-box;
}

#searchWindow #searchField:focus {
    outline: none;
}


#searchWindow #searchNavigator {
    position: absolute;
    right: 10px;
    height: 20px;
    cursor: pointer;
}

.userInformation {
    margin-left: 0.7vw;
    width: 100%;
}

/* Listed albums / users section */
#searchWindow ul {
    padding: 0;
    overflow: scroll;
    overflow-x: none;
    padding-right: 10px;
}

#searchWindow ul li {
    position: relative;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 2px 0px;
    background-color: rgba(59, 80, 85, 0.15);
    gap: 5px;
}

.searchProfilePicture {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url(/media/default.png);
    background-size: cover;
}

#searchWindow ul li img {
    height: 45px;
    border-radius: 20%;
    margin-right: 10px;
}

#searchWindow ul li:hover {
    background-color: rgb(106, 118, 122);
    cursor: pointer;
}

#searchWindow ul li .albumListingInformation {
    width: 75%;
}

#searchWindow ul li p {
    margin: 5px;

}

/* Results window */
#resultsWindow {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px solid #0000004a;
    border-radius: 10px;

    box-sizing: border-box;
    padding: 10px;


    z-index: 25;

    overflow: scroll;

    background-color: rgba(85, 46, 31, 0.03);
}

#resultsWindow #albumInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-top: 4vh;
}

#resultsWindow #albumInfo #artistInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 4vw;
    font-family: "raleway";
    color: #27373c;
}

#resultsWindow #albumInfo #artistInfo #albumName {
    font-size: 7vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#resultsWindow #albumInfo #artistInfo #artistName {
    font-size: 4vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#resultsWindow #albumInfo #averageRatingContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}

#resultsWindow #albumInfo #averageRatingContainer p {
    margin: 0px;
}

#resultsWindow #albumInfo #averageRatingContainer #totalReviews {
    position: absolute;
    bottom: 0;
    left: 0;
}

#resultsWindow #albumInfo #averageRatingContainer #averageRating {
    font-size: 9vw;
}

#resultsWindow #albumInfo img {
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#resultsWindow #reviewButton {
    width: 100%;
    min-height: 10vw;
    margin-bottom: 2vw;
    border: 1.5px solid #00000091;
}

#resultsWindow #reviewButton :hover {
    background-color: #39393975;
}

#resultsWindow>div:nth-child(5) {
    text-align: center;
}

#resultsWindow #closeResultsButton {
    background-image: url(/media/icons/close_0.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0);
    border: none;

    z-index: 10;
}

#resultsWindow #reviewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    box-sizing: border-box;
    padding: 0px;

    gap: 10px;
}

#resultsWindow #reviewsContainer .review {
    font-size: 2.4vw;
}

#resultsWindow #reviewsContainer .review p {
    margin: 0px;
}