#searchWindow {
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}

/* Search filed Section */

#searchWindow #searchContainer {
    position: relative;
    display: flex;
    align-items: center;
}

#searchWindow #searchField {
    width: 1000%;
    height: 10vw;
    border-radius: 10px;
    padding: 0px 5px;
    border: none;
    box-sizing: border-box;
}

#searchWindow #searchField:focus {
    outline: none;
}


#searchWindow #searchNavigator {
    position: absolute;
    right: 10px;
    height: 20px;
    cursor: pointer;
}

.userInformation {
    margin-left: 0.7vw;
    width: 100%;
}

/* Listed albums / users section */
#searchWindow ul {
    padding: 0;
    overflow: scroll;
    overflow-x: none;
    padding-right: 10px;
}

#searchWindow ul li {
    position: relative;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 2px 0px;
    background-color: rgb(112, 112, 112);
    gap: 5px;
}

.searchProfilePicture {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url(/media/default.png);
    background-size: cover;
}

#searchWindow ul li img {
    height: 45px;
    border-radius: 20%;
    margin-right: 10px;
}

#searchWindow ul li:hover {
    background-color: rgb(83, 82, 82);
    cursor: pointer;
}

#searchWindow ul li .albumListingInformation {
    width: 75%;
}

#searchWindow ul li p {
    margin: 5px;

}

/* Results window */
#resultsWindow {
    display: none;
    flex-direction: column;
    position: absolute;
    height: 95%;
    width: 89%;
    border: 2px solid black;
    border-radius: 10px;

    box-sizing: border-box;
    padding: 10px;


    z-index: 25;

    background-color: rgb(54, 54, 54);
}

#resultsWindow #albumInfo {
    display: flex;
}

#resultsWindow #albumInfo #averageRatingContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}

#resultsWindow #albumInfo #averageRatingContainer p {
    margin: 0px;
}

#resultsWindow #albumInfo #averageRatingContainer #totalReviews {
    position: absolute;
    bottom: 0;
    left: 0;
}

#resultsWindow #albumInfo #averageRatingContainer #averageRating {
    font-size: 9vw;
}

#resultsWindow #albumInfo img {
    width: 50%;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#resultsWindow #addReviewButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

#resultsWindow #addReviewButtonContainer #reviewButton {
    width: 100%;
    height: 10vw;

}

button {
    min-height: 0;
    min-width: 0;
}

#resultsWindow #closeResultsButton {
    background-image: url(/media/icons/close_0.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0);
    border: none;

    z-index: 10;
}

#resultsWindow #reviewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    box-sizing: border-box;
    padding: 0px;

    overflow: scroll;
    gap: 10px;
}

#resultsWindow #reviewsContainer .review {
    font-size: 2.4vw;
}

#resultsWindow #reviewsContainer .review p {
    margin: 0px;
}