#searchWindow {
    overflow: scroll;
    overflow-x: hidden;
}

#searchWindow div {
    width: 100%;
}

/* Search filed Section */

#searchWindow #searchContainer {
    position: relative;
    display: flex;
    align-items: center;
}

#searchWindow #searchNavigator {
    position: absolute;
    right: 10px;
    height: 20px;
    cursor: pointer;
}

.albumInformation {
    margin-left: 0.7vw;
}

/* Listed albums / users section */
#searchWindow ul {
    padding: 0;
    overflow: scroll;
    overflow-x: none;
    padding-right: 10px;
}

#searchWindow ul li {
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    margin: 2px 0px;
    /*background-color: rgb(112, 112, 112);*/
    gap: 5px;
}
#searchWindow ul li  img{
    height: 35px;
    border-radius: 50%;
}

#searchWindow ul li:hover {
    background-color: rgb(83, 82, 82);
    cursor: pointer;
}

#searchWindow ul li .saveButton {
    background: none;
    margin: 0px 5px;
    border: none;
    padding: 0;
    width: fit-content;
    height: fit-content;
}

#searchWindow ul li .saveButton img {
    height: 5vw;
}

#searchWindow ul li .saveButton img:hover {
    height: 5.2vw;
    cursor: pointer;
}

/* Results window */
#resultsWindow{
    display: none;
    flex-direction: column;
    position: absolute;
    height: 90%;
    width: 89%;
    border: 2px solid black;
    border-radius: 10px;

    box-sizing: border-box;
    padding: 10px;


    z-index: 99999;

    background-color: rgb(54, 54, 54);
}
#resultsWindow #albumInfo{
    display: flex;
}
#resultsWindow #albumInfo #averageRatingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
#resultsWindow #albumInfo #averageRatingContainer p {
    margin: 0px;
}
#resultsWindow #albumInfo #averageRatingContainer #averageRating {
    font-size: 9vw;
}
#resultsWindow #albumInfo img{
    width: 50%;
    border-radius: 5px;
}
#resultsWindow #addReviewButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}
#resultsWindow #addReviewButtonContainer #reviewButton{
    width: 100%;

}
button{
    min-height: 0;
    min-width: 0;
}
#resultsWindow #closeResultsButton{
    background-image: url(/media/icons/close_0.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
#resultsWindow{

}